#### Question 1: Import appropriate package and load the dataset
Using pandas load the *covid_19.csv*

In [3]:
import pandas as pd
import numpy as np

# Load your dataset 
file_path = 'data/covid_19.csv'
df = pd.read_csv(file_path)

# Output the first 5 rows of the dataframe
df.head()

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Slovakia,Europe,5460193.0,2024-06-30,2024-06-30T16:15:11+00:00,1877605,1856381.0,21224.0,7448789.0
1,Saint-Pierre-Miquelon,North-America,5759.0,2024-06-30,2024-06-30T16:15:16+00:00,3452,2449.0,2.0,25400.0
2,Isle-of-Man,EuRope,85732.0,2024-06-30,2024-06-30T16:15:14+00:00,38008,NaN,116.0,150753.0
3,Somalia,Africa,16841795.0,2024-06-30,2024-06-30T16:15:14+00:00,27334,13182.0,1361.0,400466.0
4,Comoros,Africa,907419.0,2024-06-30,2024-06-30T16:15:15+00:00,9109,8939.0,161.0,NaN

In [2]:
!pip install numpy

Requirement already satisfied: numpy in /Users/tnchevez/miniforge3/lib/python3.12/site-packages (2.3.1)

#### Question 2: Complete the 'handle_missing_values' function to handle missing values in the dataset. 

Iterate each column of the dataframe **df_filled**. Using **fillna()** fill the ***NaN*** values in each column by *replacing it with a value of zero (0) if it's a numeric column or with the string "Unknown" if it's a text column*.

*Hint* : You can use numpy to detect if the column's data type is a number with the following condition:
-  **if np.issubdtype(df_filled[column].dtype, np.number)**

Save it in the **filled_missing_df** variable

In [4]:
# Function to handle missing values for both text and numeric columns
def handle_missing_values(df):
    df_filled = df.copy()
    
    for column in df_filled.columns:
        
        if np.issubdtype(df_filled[column].dtype, np.number):
            df_filled[column] = df_filled[column].fillna(0)
        else:
            df_filled[column] = df_filled[column].fillna('Unknown')

    return df_filled

In [6]:
filled_missing_df = handle_missing_values(df)
filled_missing_df.head(35)

,country,continent,population,day,time,Cases,Recovered,Deaths,Tests
0,Slovakia,Europe,5.460193e+06,2024-06-30,2024-06-30T16:15:11+00:00,1877605,1.856381e+06,21224.0,7.448789e+06
1,Saint-Pierre-Miquelon,North-America,5.759000e+03,2024-06-30,2024-06-30T16:15:16+00:00,3452,2.449000e+03,2.0,2.540000e+04
2,Isle-of-Man,EuRope,8.573200e+04,2024-06-30,2024-06-30T16:15:14+00:00,38008,0.000000e+00,116.0,1.507530e+05
3,Somalia,Africa,1.684180e+07,2024-06-30,2024-06-30T16:15:14+00:00,27334,1.318200e+04,1361.0,4.004660e+05
4,Comoros,Africa,9.074190e+05,2024-06-30,2024-06-30T16:15:15+00:00,9109,8.939000e+03,161.0,0.000000e+00
5,Aruba,North-America,1.076090e+05,2024-06-30,2024-06-30T16:15:14+00:00,44224,4.243800e+04,292.0,1.778850e+05
6,Fiji,Oceania,9.094660e+05,2024-06-30,2024-06-30T16:15:13+00:00,69117,6.722600e+04,885.0,6.728830e+05
7,Romania,europe,1.903134e+07,2024-06-30,2024-06-30T16:15:11+00:00,3529735,3.460149e+06,68929.0,2.875867e+07
8,Saint-Pierre-Miquelon,North-America,5.759000e+03,2024-06-30,2024-06-30T16:15:16+00:00,3452,2.449000e+03,2.0,2.540000e+04
9,Yemen,Asia,3.115487e+07,2024-06-30,2024-06-30T16:15:15+00:00,11945,9.124000e+03,2159.0,3.295920e+05
10,Tanzania,Africa,6.329855e+07,2024-06-30,2024-06-30T16:15:14+00:00,43223,0.000000e+00,846.0,0.000000e+00
11,Iceland,Europe,3.453930e+05,2024-06-30,2024-06-30T16:15:12+00:00,209906,0.000000e+00,229.0,1.996384e+06
12,Denmark,Europe,5.834950e+06,2024-06-30,2024-06-30T16:15:11+00:00,3183756,3.174942e+06,8814.0,1.293331e+08
13,Argentina,South-America,4.601023e+07,2024-06-30,2024-06-30T16:15:10+00:00,10128845,9.997258e+06,130841.0,3.571607e+07
14,South-Sudan,Africa,1.161851e+07,2024-06-30,2024-06-30T16:15:15+00:00,18819,1.811500e+04,147.0,4.102800e+05
15,El-Salvador,North-America,6.550389e+06,2024-06-30,2024-06-30T16:15:13+00:00,201855,1.794100e+05,4230.0,2.610114e+06
16,Western-Sahara,africa,6.261610e+05,2024-06-30,2024-06-30T16:15:16+00:00,10,9.000000e+00,1.0,0.000000e+00
17,Montenegro,EUROPE,6.279500e+05,2024-06-30,2024-06-30T16:15:12+00:00,296542,2.917940e+05,2846.0,2.769281e+06
18,DPRK,ASIA,2.599068e+07,2024-06-30,2024-06-30T16:15:11+00:00,4772813,4.772739e+06,74.0,0.000000e+00
19,Ukraine,europe,4.319212e+07,2024-06-30,2024-06-30T16:15:11+00:00,5557995,5.445577e+06,112418.0,3.260380e+07
20,Andorra,Europe,7.746300e+04,2024-06-30,2024-06-30T16:15:14+00:00,48015,0.000000e+00,165.0,2.498380e+05
21,Cameroon,Africa,2.791155e+07,2024-06-30,2024-06-30T16:15:13+00:00,125379,1.232800e+05,1974.0,1.751774e+06
22,Myanmar,Asia,5.522714e+07,2024-06-30,2024-06-30T16:15:12+00:00,641873,6.201590e+05,19495.0,1.171151e+07
23,Lebanon,AsiA,6.684849e+06,2024-06-30,2024-06-30T16:15:11+00:00,1243838,1.087587e+06,10952.0,4.795578e+06
24,Mauritius,Africa,1.274727e+06,2024-06-30,2024-06-30T16:15:14+00:00,43025,4.127800e+04,1051.0,3.586750e+05
25,Portugal,EuRope,1.014057e+07,2024-06-30,2024-06-30T16:15:11+00:00,5643062,5.614809e+06,28126.0,4.613952e+07
26,French-Polynesia,Oceania,2.841640e+05,2024-06-30,2024-06-30T16:15:13+00:00,79254,0.000000e+00,650.0,0.000000e+00
27,Timor-Leste,Asia,7.242357e+09,2024-06-30,2024-06-30T16:15:15+00:00,3523769450,3.378099e+09,35053405.0,5.934258e+09
28,Luxembourg,EUROPE,6.423710e+05,2024-06-30,2024-06-30T16:15:12+00:00,391232,0.000000e+00,1232.0,4.587145e+06
29,Serbia,europe,8.653016e+06,2024-06-30,2024-06-30T16:15:11+00:00,2615054,2.596608e+06,18057.0,1.346373e+07
30,DRC,AFRICA,9.524079e+07,2024-06-30,2024-06-30T16:15:13+00:00,99338,8.448900e+04,1468.0,8.467040e+05
31,Diamond-Princess,Unknown,0.000000e+00,2024-06-30,2024-06-30T16:15:16+00:00,712,6.990000e+02,13.0,0.000000e+00
32,Mali,Africa,2.147376e+07,2024-06-30,2024-06-30T16:15:14+00:00,33164,3.233200e+04,743.0,8.049090e+05
33,Uzbekistan,Asia,3.438208e+07,2024-06-30,2024-06-30T16:15:12+00:00,253662,2.414860e+05,1637.0,1.377915e+06
34,Suriname,South-America,5.968310e+05,2024-06-30,2024-06-30T16:15:13+00:00,82588,0.000000e+00,1408.0,2.422070e+05

#### Question 3: Complete the 'handle_outliers' function to handle outliers in the dataset
Same as Question 2, iterate each column of the dataframe (filled_missing_df), detect if the column's data type is a number, and if it is then identify outliers using the interquartile range (IQR) method teached in class. Save it in the **df_without_outliers** variable.

In [9]:
# Function to handle outliers for numeric columns
def handle_outliers(df):
    df_outliers_removed = df.copy()
    
    for column in df_outliers_removed.columns:
        if np.issubdtype(df_outliers_removed[column].dtype, np.number):
            q1 = df_outliers_removed[column].quantile(0.25)
            q3 = df_outliers_removed[column].quantile(0.75)
            iqr = q3 - q1

            lower_bound = q1 - 1.5 * iqr
            upper_bound = q3 + 1.5 * iqr

            df_outliers_removed = df_outliers_removed[(df_outliers_removed[column] >= lower_bound) & (df_outliers_removed[column] <= upper_bound)]
    
    return df_outliers_removed

In [10]:
df_without_outliers = handle_outliers(filled_missing_df)
print("Shape of dataframe before:", filled_missing_df.shape)
print("Shape of dataframe after removing outliers",df_without_outliers.shape )

Shape of dataframe before: (309, 9)
Shape of dataframe after removing outliers (149, 9)

#### Question 4: Complete the 'handle_duplicates' function to remove duplicates in the dataset
Drop duplicates from the dataframe (df_without_outliers) and save it in the **df_deduplicated** variable.

In [12]:
# Function to handle duplicates
def handle_duplicates(df):
    df_deduplicated = df.drop_duplicates()

    print("Original dataframe shape:", df.shape)
    print("Deduplicated datframe shape:", df_deduplicated.shape)
    
    return df_deduplicated

In [13]:
df_deduplicated = handle_duplicates(df_without_outliers)

Original dataframe shape: (149, 9)
Deduplicated datframe shape: (116, 9)

#### Question 5: Complete the 'standardize_data' function to standardizes the 'continent' column in the dataset
Same as we learned in class, standarize the *continent* column in the dataframe (df_deduplicated) and save it in the **standarized_df** variable.

To first identify the inconsisencies, use the unique() method to identify the distinct values within the column:

In [14]:
pd.unique(df_deduplicated['continent'])

array(['North-America', 'EuRope', 'Africa', 'Oceania', 'Asia', 'Europe',
       'africa', 'Unknown', 'South-America', 'OceanIa', 'AFRICA',
       'north-America', 'AfriCa', 'OCEANIA', 'EUROPE', 'ASIA', 'AsiA',
       'North-america', 'NORTH-AMERICA', 'europe'], dtype=object)

In [15]:
# Function to address inconsistency and standardize data
def standardize_data(df):
    df_standardized = df.copy()
    
    df_standardized['continent'] = df_standardized['continent'].str.strip().str.title()
    
    return df_standardized

In [16]:
standarized_df = standardize_data(df_deduplicated)
pd.unique(standarized_df['continent'])

array(['North-America', 'Europe', 'Africa', 'Oceania', 'Asia', 'Unknown',
       'South-America'], dtype=object)

#### Question 6: Save Your Cleaned DataFrame
Save your cleaned DataFrame (standarized_df) to the Results folder.

In [17]:
output_path = 'Results/covid_19_cleaned.csv'
standarized_df.to_csv(output_path, index = False)